.key {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  background-color: #484c4f;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  touch-action: manipulation;
}

[data-state="correct"] {
  background-color: #6aaa64;
}

[data-state="present"] {
  background-color: #c9b458;
}

[data-state="absent"] {
  background-color: #787c7e;
}

.func-key {
  background-color: #6096f8;
}

.key.func-key.Backspace {
  background-color: #373c40;
}

.func-key svg {
  width: 20px;
}

svg.enter-key {
  width: 40px;
}
