.key {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  background-color: #d3d6da;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  touch-action: manipulation;
}

.func-key {
  background-color: rgb(134, 200, 255);
}
.func-key svg {
  width: 20px;
}

svg.enter-key {
  width: 40px;
}
