.keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 480px;
}
.key-row {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.key-row:nth-of-type(3) {
  justify-content: end;
}
