* {
  /* font-family: "tahoma", cursive; */
  /* font-family: "Lalezar", cursive; */
  font-family: "Baloo Bhaijaan 2", cursive;
  /* font-family: "Noto Sans Arabic", sans-serif; */

  user-select: none;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.game-header {
  width: 100%;
  height: 5vh;
  position: relative;
  border-bottom: 1px solid grey;
}

button.how-to {
  width: 4vh;
  height: 4vh;
  position: absolute;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  left: 7%;
}

.error-msg {
  position: absolute;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  top: 80px;
  display: none;
}

.error-msg.show {
  display: block;
}

.error-msg p {
  margin: 0;
  padding: 0 0 10px 0;
}

.row-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
